.profile-container {
  display: flex;
}

.profile-sidebar {
  display: flex;
  flex-direction: column;

  .profile-img img {
    width: 280px;
    border-radius: 10px;
  }
}

.gallery-container {
  //   padding: 250px 50px;
  padding: 250px 50px 50px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .gallery-title {
    font-size: 28px;
    color: white;
    margin-bottom: 80px;
    margin-left: 50px;
    align-self: flex-start;
    position: relative;
    cursor: default;

    @media only screen and (min-width: 750px) {
      font-size: 42px;
    }
  }

  .gallery-title::after {
    content: "";
    position: absolute;
    left: 8px;
    bottom: -3px;
    z-index: -2;
    background: linear-gradient(98.37deg, #f89e00 0.99%, #da2f68 100%);
    width: 95%;
    height: 5px;
    border-radius: 20px;
    transition: 0.1s all;
  }

  .gallery-title:hover::after {
    content: "";
    position: absolute;
    left: -10px;
    bottom: -5px;
    z-index: -2;
    background: linear-gradient(98.37deg, #f89e00 0.99%, #da2f68 100%);
    width: 114%;
    height: 110%;
    border-radius: 20px;
  }

  .img-container img {
    width: 250px;
    border-radius: 50px;
    margin-left: 60px;
    margin-right: 60px;
    border: 5px solid white;
    cursor: pointer;
    transition: 0.1s all;

    @media only screen and (max-width: 1000px) {
      width: 70%;
    }
  }

  img:hover {
    border: none;
    transform: scale(1.1) translateY(-25px);
    box-shadow: 2px 2px 16px rgb(32, 218, 196);
  }
}

.grid {
  display: flex;
  flex-flow: row wrap;
  row-gap: 90px;
}
.grid:hover .img-container {
  filter: blur(5px);
}

.grid .img-container:hover {
  filter: blur(0);
}

.gallery-container .actor-movies-container{
  .movie img{
    width: 200px;
  }
}